---
import { collections } from "../../data/collections";
import CollectionCard from "./CollectionCard.astro";
---

<div class="grid">

{
collections.map((collection)=>(

<CollectionCard

{...collection}

/>

))
}

</div>

<style>

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:2rem;

}

@media(max-width:768px){

.grid{

grid-template-columns:1fr;

}

}

</style>