---
import Section from "../../components/primitives/Section.astro";
import Container from "../../components/primitives/Container.astro";

import CollectionHeader from "../../components/collections/CollectionHeader.astro";
import CollectionGrid from "../../components/collections/CollectionGrid.astro";
---

<Section class="featured-collections-section">

    <Container class="featured-collections-container">

        <CollectionHeader />

        <CollectionGrid />

    </Container>

</Section>

<style>
    :global(.featured-collections-section) {
        --section-padding-block: clamp(var(--space-4), 9vw, var(--space-8));

        overflow: hidden;
    }

    :global(.featured-collections-container) {
        --container-default: var(--container-wide);
        --container-padding-inline: clamp(var(--space-5), 5vw, var(--space-10));
    }

    @media (max-width: 767px) {
        :global(.featured-collections-section) {
            --section-padding-block: clamp(var(--space-4), 12vw, var(--space-8));
        }

        :global(.featured-collections-container) {
            --container-padding-inline: clamp(var(--space-4), 6vw, var(--space-6));
        }
    }
</style>
