---
import Section from "../../components/primitives/Section.astro";
import Container from "../../components/primitives/Container.astro";

import CollectionHeader from "../../components/collections/CollectionHeader.astro";
import CollectionGrid from "../../components/collections/CollectionGrid.astro";
---

<Section>

    <Container>

        <CollectionHeader />

        <CollectionGrid />

    </Container>

</Section>