---
import Button from "../primitives/Button.astro";
import Label from "../primitives/Label.astro";

interface Props{
    href?:string;
    class?:string;
}

const{
    href="/design-your-outfit",
    class:className=""
}=Astro.props;
---

<Button
    href={href}
    class:list={[
        "navbar__cta",
        className
    ]}
>

    <Label
        icon="handcraftedPlanning"
        iconSize={16}
    >
        Create Yours
    </Label>

</Button>
