---
import Button from "../primitives/Button.astro";
import Label from "../primitives/Label.astro";

interface Props{
    href:string;
    class?:string;
}

const{
    href,
    class:className=""
}=Astro.props;
---

<Button
    href={href}
    class:list={[
        "navbar__cta",
        className
    ]}
>

    <Label
        icon="calendar"
        iconSize={14}
    >
        Book Consultation
    </Label>

</Button>