---
import NavLink from "./NavLink.astro";

import type { NavigationItem } from "../../data/navigation";

interface Props {
  items: NavigationItem[];
  currentPath?: string;
}

const {
  items,
  currentPath = Astro.url.pathname,
} = Astro.props;
---

<ul
  class="desktop-nav"
  role="list"
>
  {
    items.map((item) => (
      <li class="desktop-nav__item">
        <NavLink
          item={item}
          isActive={currentPath === item.href}
        />
      </li>
    ))
  }
</ul>