---
---

<button
  class="mobile-menu-button"
  type="button"
  aria-label="Open navigation menu"
  aria-controls="mobile-navigation"
  aria-expanded="false"
  data-menu-button
>
  <span class="mobile-menu-button__icon" aria-hidden="true">
    <span class="mobile-menu-button__line"></span>
    <span class="mobile-menu-button__line"></span>
    <span class="mobile-menu-button__line"></span>
  </span>
</button>