---

import Logo from "./Logo.astro";
import DesktopNav from "./DesktopNav.astro";
import MobileNav from "./MobileNav.astro";
import CTAButton from "./CTAButton.astro";
import MobileMenuButton from "./MobileMenuButton.astro";

import { navigation as navigationItems } from "../../data/navigation";

---

<header
  class="navbar"
  data-navbar
  data-menu-open="false"
>
  <nav
    class="navbar__inner"
    aria-label="Primary Navigation"
  >
    <div class="navbar__header">

      <a
        href="/"
        class="navbar__brand"
        aria-label="Rangbastra Home"
      >
        <Logo />
      </a>

      <DesktopNav
        items={navigationItems}
      />

      <div class="navbar__actions">

        <CTAButton />

        <MobileMenuButton />

      </div>

    </div>

    <MobileNav
      items={navigationItems}
    />

  </nav>
</header>

<script>
  import { initializeNavbar } from "../../lib/navigation/navbar";

  initializeNavbar();
</script>