---
import Label from "../primitives/Label.astro";
import type { NavigationItem } from "../../data/navigation";

interface Props {
    item: NavigationItem;
    isActive?: boolean;
}

const {
    item,
    isActive = false
} = Astro.props;
---

<a
    href={item.href}
    class:list={[
        "nav-link",
        isActive && "nav-link--active"
    ]}
    aria-current={isActive ? "page" : undefined}
>

    <Label
        icon={item.icon}
        iconSize={14}
    >
        {item.label}
    </Label>

</a>