---
interface Props {
  id?: string;
  class?: string;
}

const { id, class: className = "" } = Astro.props;
---

<section id={id} class:list={["section", className]}>
  <slot />
</section>

<style>
.section {
  position: relative;
  padding-block: var(--section-padding-block);
}
</style>
